@import "../Constants.css";

.handledning-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--desktop-content-max-width);
}

.handledning-content {
  display: flex;
}

.handledning-text {
  margin-right: 50px;
}

.handledning-image {
  width: 40%;
  margin: auto;
}

/* --------------- Tablet -------------- */
@media screen and (min-width: 801px) and (max-width: 1280px) {
  .handledning-content {
    flex-direction: column;
  }

  .handledning-text {
    margin: auto;
    margin-bottom: 50px;
  }

  .handledning-image {
    width: 50%;
    margin: auto;
  }
}

/* --------------- Phone --------------- */
@media screen and (max-width: 800px) {
  .handledning-content {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .handledning-text {
    margin: auto;
    margin-bottom: 20px;
  }

  .handledning-image {
    width: 80%;
    margin: auto;
  }
}
