@import "../Constants.css";

.psykoterapi-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--content-max-width);
}

.psykoterapi-content {
  display: flex;
  flex-direction: row;
}

.psykoterapi-text {
  flex-direction: column;
}

.psykoterapi-image {
  width: 50%;
  height: 70%;
  margin-left: 25px;
}

/* --------------- Tablet -------------- */
@media screen and (min-width: 830px) and (max-width: 1280px) {
}

/* --------------- Phone --------------- */
@media screen and (max-width: 829px) {
  .psykoterapi-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .psykoterapi-image {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
